@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-RegularItalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-BlackItalic.woff2') format('woff2');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('../fonts/CeraPro-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
}
body{
    font-family: 'Cera Pro';
    font-size: 16px;
    /* line-height: 1.7; */
}

ul{
    list-style-type: none
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    background: #fff;
}
.header{
    font-size: 0px;
}
.header{
    padding: 30px 70px;
}

.logo,
.header__nav {
 display: inline-block;
 vertical-align:top;
 font-size: 16px;
}
.btn-login{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    
}
.header__nav ul,
.btn-login{
    padding: 0px;
    margin: 0px;
}
.logo{
    width: 150px;
}
.btn-login{
    width: 100px;
}
.header__nav{
    width: calc(100% - 250px);
}
.header_nav-list{
    text-align: center;
    
}
.header_nav-list li{
    display: inline-block;
    margin: 0 25px;
}
 .header_nav-list a{
    text-decoration: none;
    color:  #3D3D3D;
    padding-bottom: 23px; ;
 }
 .active a,
 .header_nav-list a:hover{
    border-bottom: solid 3px #46a358;
    font-weight: 700;
 }
 .btn-login a{
  display: inline-block;
  background: #46a358;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  border:1px solid;
 }
 .btn-login a:hover{
    background: #fff;
    color: #46a358;
    
 }
 .flovers_img,.sec_one {
    display: inline-block;
    vertical-align: middle;
    width: 45%;
    margin-left: 45px;
 }
.content .title span {
    color: #4CAF50; 
}
.title{
    font-weight: 900;
    font-size: 70px;
    margin: 0;
}
.description{
    font-size: 14px;
    color: #727272;
    margin: 0 0 44px;
}
.title_add{
    text-transform: uppercase;
    letter-spacing: 1px;
}
.btn-shop{
    display: inline-block;
    background: #46a358;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid;
}
.btn-shop:hover{
    background: #fff;
    color:#46a358
}
 /* section */
/* .sider,.conntent{
    border: #3D3D3D solid 2px;
} */
.sider{
    width: 310px;
    float: left;
    padding: 14px 18px;
    font-style: 18px;
    background: #FBFBFB;
}
.sider h4{
    margin-top: 0;
    margin: 0 0 7px;
}
.conntent{
    float: right;
    width: calc(100% - 310px);
    padding-left: 50px;}
.table_1.active-fer{
color: #46A358;
font-weight: 700;
}
.table_1 a:hover{
color: #46A358;
}
.table_1 a{
    text-decoration: none;
    color: #3D3D3D;
}

.table_1{
    padding: 0 0 0 12px;
}
.table_1 li{
 margin-bottom: 30px;
}
.claerfix::after{
    content: '';
    display: block;
    clear: both;
}
.product_sort-filter li .active-fer {
color: #46A358;

}
.product_sort-filter a:hover{
    color: #46A358;
}
.product_sort-filter a {
    color: #3D3D3D;
    text-decoration: none;
}
.product_sort-title{
    margin-right: 10px;
}
.product_sort-opinion::after{
content: '';
display: inline-block;
width: 16px;
height: 16px;
background: url(../imagas/arow.svg);
}
.product_sort-filter{
    padding: 0;
    margin: 0;
}
.product_sort-filter li{
    display: inline-block;
    margin-right: 37px;
    float: left;
}
/* .product_sort-filter a{
 text-decoration: none;
} */
.product_sort-sorting{
    float: right;
}
.product_sort-title,.product_sort-select{
    display: inline-block;
    vertical-align: middle;
}
.product-list {
    margin: 0 0 50px;
    padding: 0;
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
    list-style: none;
}

.product_item {
    width: calc(33.333% - 20px);
    background: white;
    padding: 10px;
    border-radius: 10px;
   
}

.product_item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-item{
    width: 33.33%;
}
 h6{
    margin: 0;
    
}
.prise{
    color: #46a358;
    font-weight: 700;
    font-style: 18px;
}
    /* .prise:hover{
        color: #3D3D3D;
        
    } */
.pages{
    text-align: right;
}
.pages li .active a,
.pages a:hover{
 background: #fff;
 color: #3D3D3D;
}

.pages li {
    margin-left: 12px;
    display: inline-block;
    text-align: center;
    
}
.pages a {
    display: inline-block;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    background: #46A358;
    border: 1px solid #E5E5E5;
    text-decoration: none;
    color: #3D3D3D;
    padding-top: 6px;
}
/* flex */

.main-conteiner{
    display: flex;
    justify-content: space-between;
}
.main-text{
    display: flex;
}
.main-text2{
    display: flex;
}
.text-1 ,.text-2{
    align-content: center;
    background: #FBFBFB;

}
 .text-1 h5, .text-2 h5{
   font-weight: 900; 
   font-size: 18px;
    font-family: 'Cera Pro', sans-serif;
    color: #3D3D3D;
    margin: 0 0 0 119px;

}
  .flex-text1 
  {
    font-size: 14px;
    font-family: 'Cera Pro' sans-serif;
    margin-bottom: 30px;
    color: #727272;
    line-height: 1.8;
  }
 .text-1 p{
    
 }
.button {
    margin-left:129px;
}
 .button{
    text-decoration: none;
    background: #46A358;
    color: #fff;
    border-radius: 7px;
    padding: 11px 27px;
    border: 1px solid;
 }
 .button::after {
     content: '➞';
     /* background: url(../imagas/arave.svg); */
 }
 .button:hover{
background: #fff;
color: #46A358;
 }

.paragraf{
    margin-top: 138px;
    font-family: 'Cera Pro' sans-serif;
}
.sen_two{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.sen_three{
    font-size: 14px;
    margin-bottom: 35px;
    color: #727272;
}

.sen_two, .sen_three{
    display: flex;
    justify-content: center;

 }
 .information_parag{
    display: flex;
    flex-direction: column;
 }
 .hero2-conteiner{
    display: flex;
    
 }
 .one_conteiner{
    display: flex;
    font-family: 'Cera Pro' sans-serif;
    justify-content: space-between;
    gap: 32px;
   
 }
 .time{
    font-weight: 500;
    font-size: 14px;
    font-family: 'Cera Pro', sans-serif;
    color:#46A358;
    margin-bottom: 4px;
 }
 
 .cactus_1{
    font-weight: 700;
    font-size: 20px;
    margin: 0px  0px 4px;
    margin-right: 35px;
 }
 .all_parag{
    font-size: 14px;
    margin: 0px 0px  9px;
   color:  #727272;
 }
 .text-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FBFBFB;
 }
 .time_btn {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    margin-right: 135px;
    color: #3D3D3D;
 }
 .time_btn::after{
    content: "➞";
    margin-left: 5px;
 }
 .time_btn:hover{
color: #46A358;
 }

 /* .meta_information span{
    display: flex   ;
 } */



    












