ul{
    list-style-type: none
}


.container{
    /* background: #fff; */
    max-width: 1200px;
    margin: 0 auto;
    
}
.header{
    font-size: 0px;
}
.header{
    padding: 30px 70px;
}

.logo,
.header__nav {
 display: inline-block;
 vertical-align:top;
 font-size: 16px;
}
.btn-login{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    
}
.header__nav ul,
.btn-login{
    padding: 0px;
    margin: 0px;
}
.logo{
    width: 150px;
}
.btn-login{
    width: 100px;
}
.header__nav{
    width: calc(100% - 250px);
}
.header_nav-list{
    text-align: center;
    
}
.header_nav-list li{
    display: inline-block;
    margin: 0 25px;
}
 .header_nav-list a{
    text-decoration: none;
    color:  #3D3D3D;
    padding-bottom: 23px; ;
 }
 .active a,
 .header_nav-list a:hover{
    border-bottom: solid 3px #46a358;
 }
 .btn-login a{
  display: inline-block;
  background: #46a358;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  border:1px solid;
 }
 .btn-login a:hover{
    background: #fff;
    color: #46a358;
    
 }
 .flovers_img,.content{
    display: inline-block;
    vertical-align: middle;
 }
 
 
/* .content .title {
    font-size: 48px; 
    
    color: #333; 
} */

.content .title span {
    color: #4CAF50; 
}



.btn-shop{
    display: inline-block;
    background: #46a358;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid;
}
.btn-shop:hover{
    background: #fff;
    color:#46a358
}

/* .sider,.conntent{
    border: #3D3D3D solid 2px;
}
.sider{
    width: 310px;
    float: left;
    padding: 14px 18px;
}
.conntent{
    float: right;
    width: calc(100%-310px);
} */








