ul{
    list-style-type: none
}

.container{
    background: #fff;
    max-width: 1200px;
    margin: 0 auto;
padding: 30px 70px;

}
.header{
    font-size: 0px;
}
.header

.Logo,
.header__nav {
 display: inline-block;
 
 vertical-align:top;
 font-size: 16px;
}
.btn-login{
    display: inline-block;
    
    vertical-align: top;
    font-size: 16px;
    
}
.header__nav ul,
.btn-login{
    padding: 0px;
    margin: 0px;
}
.Logo{
    width: 150px;
}
.btn-login{
    width: 100px;
}
.header__nav{
    width: calc(100% - 250px);
}
.header_nav-list{
    text-align: center;
    
}
.header_nav-list li{
    display: inline-block;
    margin: 0 25px;
}
 .header_nav-list a{
    text-decoration: none;
    color:  #3D3D3D;
    padding-bottom: 50px; ;
 }
 .active a,
 .header_nav-list a:hover{
    border-bottom: solid 3px #46a358;
 }
 .btn-login a{
  display: inline-block;
  background: #46a358;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  border:1px solid;
 }
 .btn-login a:hover{
    background: #fff;
    color: #46a358;
    
 }
 p{
    color:#3D3D3D
}

.container-button{
    display: flex; 
    align-items: center;
    
    max-width: 1200px; 
    margin: 15px auto; 
    padding: 100px 20px; 
    background: #F5F5F580;
}


.content .title {
    font-size: 48px; 
    
    color: #333; 
}

.content .title span {
    color: #4CAF50; 
}
.flovers_img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 40%; 
    border-top:0 auto ;
    top: 15%; 
    right: 0px;
    
}

.btn-shop{
    display: inline-block;
    background: #46a358;
    color: #fff;
    border-radius: 5px;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid;
}
.btn-shop:hover{
    background: #fff;
    color:#46a358
}







